<div class="container">
  <%= month_calendar events: events do |date, events| %>
    <div class="dailyinfo text-center">
      <span class="p small" style=""><%= date.to_s[-2..-1] %></span>
    </div>

    <% events.each do |event| %>
      <div class="row">
        <div class="col-md-12" style="margin-bottom:10px; max-width:200px">
          <p><%= event["name"] %></p>
        </div>
      </div>
    <% end %>
  <% end %>
</div>